body {
  font-family: Montserrat;
  width: 100%;
  overflow-x: hidden;
  font-size: 1rem;
  font-size: 16px;
}

html {
  position: relative;
}

html,
body {
  min-height: 100%;
  background: color('dark');
}

#__nuxt,
#__layout {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: none;
  // list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:focus {
    outline: none;
  }
  &::before,&::after {
    box-sizing: border-box;
    display: block;
  }
}


$t-duration: 800ms;
$t-delay: 300ms;

.intro-enter-active,
.intro-leave-active {
  transition-duration: $t-duration * 2;

  &::before,
  &::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    width: 100%;
    height: 50%;
    transition-property: opacity, transform;
    transition-timing-function: ease-in-out;
  }

  &::before {
    background-color: color('dark-200');
  }

  &::after {
    top: 50%;
    background-color: color('dark-200');
  }
}

.intro-leave {
  &::before,
  &::after {
    transform: scaleX(0);
  }
}

.intro-leave-active {
  &::before {
    transition-duration: $t-duration;
  }

  &::after {
    transition-duration: $t-duration - $t-delay;
    transition-delay: $t-delay;
  }
}

.intro-leave-to {
  &::before,
  &::after {
    transform: scale(1);
    transform-origin: left;
  }
}

.intro-enter {
  &::before,
  &::after {
    transform: scaleX(1);
  }
}

.intro-enter-active {
  &::before {
    transition-duration: $t-duration;
  }

  &::after {
    transition-duration: $t-duration - $t-delay;
    transition-delay: $t-delay;
  }
}

.intro-enter-to {
  &::before,
  &::after {
    transform: scaleX(0);
    transform-origin: right;
  }
}

.notifications{
  font-family: 'Roboto';
  font-size: 1rem;
  color: color('light');
  border-radius: 0.3rem;
  padding: 1rem 3rem;
  overflow: visible;
  width: max-content;
  margin: 2rem auto 0;
  cursor: pointer;

  &.success{
    background-color:#4eca7a;
  }
  &.error{
    background-color: #df484a;
  }
  &.warning{
    background-color: #ffa83f;
  }
}
