$colors: (
  roxo: #6246ea,
  light: #fffffe,
  dark: #16161a,
  dark-200: #212529,
  cinza: #c4c4c4,
  cinza-200: #E9E6E6,
) !default;

@function color($color) {
  @if map-has-key($colors, $color) {
    @return map-get($colors, $color);
  }
}
